.footer {
	display: flex;
	flex-shrink: 0;
	padding-block: 16px;
	padding-inline: 4px;

	.links {
		display: inline-flex;
		gap: 16px;
		align-items: center;
		margin-inline-start: auto;

		span {
			display: inline-block;
			inline-size: 24px;
			block-size: 24px;
			line-height: 1;
		}

		a {
			color: unset;
			text-decoration: none;
		}
	}
}
